---
title: Industries
layout: layout.njk
---
    <section class="overflow-y-auto grow bg-yellow-100 flex flex-col">
<div class="grid grow lg:grid-cols-[20rem_1fr]">
  <!-- Vertical Tab List -->
  <ul id="verticalTabs" role="tablist" aria-orientation="vertical" class=" border-r border-gray-100 bg-indigo-200 pl-2 py-4 flex flex-col gap-y-0.25">
    <li>
      <a href="#section1" role="tab" aria-selected="false" aria-controls="section1" tabindex="0"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-solid fa-gears"></i>Manufacturing</span>
      </a>
    </li>
    <li>
      <a href="#section2" role="tab" aria-selected="false" aria-controls="section2" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-solid fa-truck-fast"></i> Logistics</span>
      </a>
    </li>
    <li>
      <a href="#section3" role="tab" aria-selected="false" aria-controls="section3" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
          <span class="flex gap-2 items-center"><i class="fa-solid fa-building-columns"></i>BFSI</span>
        
      </a>
    </li>
    <li>
      <a href="#section4" role="tab" aria-selected="false" aria-controls="section4" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-solid fa-prescription"></i> pharma</span>
      </a>
    </li>
    <li>
      <a href="#section5" role="tab" aria-selected="false" aria-controls="section5" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-solid fa-industry-windows"></i> Retail Industry</span>
      </a>
    <li>
      <a href="#section6" role="tab" aria-selected="false" aria-controls="section6" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-solid fa-screwdriver-wrench"></i> Support and Maintenance</span>
      </a>
    </li>
    <li>
      <a href="#section7" role="tab" aria-selected="false" aria-controls="section7" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-regular fa-tower-cell"></i>Telecom</span>
      </a>
    </li>
    <li>
      <a href="#section8" role="tab" aria-selected="false" aria-controls="section8" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
         <span class="flex gap-2 items-center"><i class="fa-solid fa-photo-film-music"></i>Media and Entertainment</span>
      </a>
    </li>
  </ul>

  <!-- Tab Panels -->
  <div class="p-6 bg-gray-100 grow">
    <section id="section1" role="tabpanel" tabindex="0" class="tab-content hidden">
<figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1488825753-1024x1024_manufacturing.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the Manufacturing domain" />
</figure>
    <p>It is the process of converting raw materials, components, or parts into finished goods that meets a customer's specification(s). Manufacturing commonly employs a man-machine setup with division of labor in a medium to large scale production.</p> <p>And to avail economies of scale, every manufacturing industry tries to minimize the overhead cost by leveraging manpower utilisation & raw material availability. Within this framework, Survik Software acts as a premier catalyst in order to manage the skilled manpower requirement for manufacturing sector</p>

    </section>

    <section id="section2" role="tabpanel" tabindex="0" class="tab-content hidden">
    <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-157558600-2048x2048_logistics.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the logistics domain" />
</figure>
    <p>Logistics is generally the detailed organization and implementation of a complex operation. In a general business sense, logistics is the management of the flow of things, from the point of origin to the point of consumption in order to meet requirements of customers. And in this process, the industry require huge manpower support to manage this mammoth task.</p> <p>Logistics, being a complex process requires skilled manpower to perform the specifics tasks such as scheduling, order processing, delivery & receiving in proper channels and so on. The demand for skilled manpower is at a rise in this sector. Survik provides technically skilled manpower catering for the specific job role in order to serve the required purpose.</p>
    </section>

    <section id="section3" role="tabpanel" tabindex="0" class="tab-content hidden">
        <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1306526412-1024x1024_bfsi.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the Banking, Financial Services, and Insurance domain" />
</figure>
    <p>As the name suggests, The <abbr title="Banking, Financial Services, and Insurance">BFSI</abbr> Industry comprises of various financial intermediary players, who act as enablers and help run a smooth mechanism for bringing together the Savers and the Corporates.</p> <p>At Survik, we serve our <strong>Banking, Financial Services, and Insurance</strong> clients with our tailor-made solutions for each and every different requirements. Be it working with domestic players or the top notch international brands, we ensure 100% customised service offering for each and every need of our clients.</p>
    
    </section>

    <section id="section4" role="tabpanel" tabindex="0" class="tab-content hidden">
            <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1221032250-1024x1024_pharma.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the pharmaceutical domain" />
</figure>
    <p>The pharmaceutical industry discovers, develops, produces, and markets drugs or mdeicines for the purpose of medication. Pharmaceutical companies may deal in generic or brand medications and medical devices.</p> <p>They are subject to a variety of laws and regulations that govern the industry as a whole related to patenting, testing, safety, efficacy and marketing of drugs as well as medcial equipments.The remedy of human capital crisis is taken care of by team Survik, so that our clients can easily invest their precious time in development & innovation which is the survival policy for pharmaceutical industry.</p>
    </section>

    <section id="section5" role="tabpanel" tabindex="0" class="tab-content hidden">
                <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1058161164-1024x1024_retail.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the Retail Industry domain" />
</figure>
    
    <p>In this twenty first century, we hardly need to describe what Retail industry is all about as we are living in an environment that is fully occupied with the effects of retail.</p> <p>From your pen to pendrive, hair-pin to hard-drive, retail seems to be omnipresent in every sphere of our life. By saying so, it is implied that hundreds of thousands of people are working within this environment to get the show going. With Survik, you can be assured of your man-management, as we have an expert team that will help you to find the right person suitable for your specific job, serving in this retail domain.</p>
    
    </section>

    <section id="section6" role="tabpanel" tabindex="0" class="tab-content hidden">
                    <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1329866403-1024x1024_support-maint.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the support and meaintenance domain" />
</figure>
    <p>Survik Software provides managed application maintenance and support at varying levels to meet your exact needs. We manage applications built using a wide variety of technologies.</p> <p>Our services include pro-active monitoring, root-cause analysis, preventative maintenance, service continuity and continuous improvement in the stability and availability of applications. It is our practice to exceed Service Level Agreements (SLAs) and Business Level Agreements (BLAs) for every clients we cater to.</p>
    
    </section>


    <section id="section7" role="tabpanel" tabindex="0" class="tab-content hidden">
                        <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1416821346-1024x1024_telecom.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the telecom domain" />
</figure>
    
    <p>The telecom sector companies make communication possible on a global scale whether through the phone or Internet. These companies created the infrastructure that allows data to be sent anywhere in the world.</p> <p>The largest companies in the sector are wireless operators, satellite companies, cable companies and Internet service providers. Survik Software serves the sector by harmonizing the need of skilled personnel at right time, on right place as well as at right price.</p>
    
    </section>

    <section id="section8" role="tabpanel" tabindex="0" class="tab-content hidden">
                            <figure class="md:float-right md:ml-6">
<img src="/assets/images/industries-imgs/istockphoto-1621461234-2048x2048_vfx.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the media and entertainment domain" />
</figure>
    <p>Blast..bloom...media! The media and entertainment industry consists of many different segments under its folds such as television, print, and films. It also includes smaller segments like radio, music, OOH, animation, gaming and visual effects (VFX) and Internet advertising.</p> <p>Entertainment industry in India and worldwide as well has registered an explosive growth in last two decades making it one of the fastest growing service oriented industries. With different verticals requiring different skillset to perform daily activity, this industry needs efficient manpower as well as technical support back up. At Survik we take care of all the specific requirements that deals with human capital, by hiring right candidate to acclimatization at clients office.</p>
    
    </section>
  </div>
</div>

    

    </section>
