---
title: Our Services
layout: layout.njk
---
 <section class="overflow-y-auto grow bg-yellow-100 flex flex-col">
<div class="grid grow lg:grid-cols-[20rem_1fr]">
  <!-- Vertical Tab List -->
  <ul id="verticalTabs" role="tablist" aria-orientation="vertical" class=" border-r border-gray-100 bg-indigo-200 flex flex-col pl-2 py-4 flex flex-col gap-y-0.25">
    <li>
      <a href="#section1" role="tab" aria-selected="false" aria-controls="section1" tabindex="0"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
       <span class="flex gap-2 items-center"><i class="fa-solid fa-magnifying-glass"></i> Contingency search</span>
      </a>
    </li>
    <li>
      <a href="#section2" role="tab" aria-selected="false" aria-controls="section2" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
         <span class="flex gap-2 items-center"><i class="fa-regular fa-user-hat-tie-magnifying-glass"></i>Lateral hiring</span>
      </a>
    </li>
        <li>
      <a href="#section3" role="tab" aria-selected="false" aria-controls="section3" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
         <span class="flex gap-2 items-center"><i class="fa-solid fa-users-rays"></i>RPO</span>
      </a>
    </li>
    <li>
      <a href="#section4" role="tab" aria-selected="false" aria-controls="section4" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
         <span class="flex gap-2 items-center"><i class="fa-solid fa-user-plus"></i>Just in time hiring</span>
      </a>
    </li>
    <li>
      <a href="#section5" role="tab" aria-selected="false" aria-controls="section5" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
       <span class="flex gap-2 items-center"><i class="fa-solid fa-screen-users"></i> Hire train & deploy</span>
      </a>
    </li>
    <li>
      <a href="#section6" role="tab" aria-selected="false" aria-controls="section6" tabindex="-1"
         class="block p-4 focus:outline-none  hover:bg-white/50 hover:rounded-l-3xl">
        <span class="flex gap-2 items-center"><i class="fa-solid fa-laptop-binary"></i>ITES/KPO/BPO hiring</span>
      </a>

  </ul>

  <!-- Tab Panels -->
  <div class="p-4 bg-gray-100 grow">
    <section id="section1" role="tabpanel" tabindex="0" class="tab-content hidden">
    <figure class="md:float-left md:mr-6">
<img src="/assets/images/services-imgs/istockphoto-1395685005-2048x2048_contengency.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the Contingency recruitment domain" />
</figure>
    <p>At Survik, we can help you drive business by utilizing our contingency recruitment model. Contingency recruiting is particularly appropriate for companies looking to fill mid-senior level to higher management positions on a non-confidential basis. Our search methodology separates us from others in the contingency recruiting space and ensures that our clientele receives the focused insight and dedicated commitment while in the process of hiring.</p> <p>We identify and evaluate prospective candidates who meet your precise hiring criteria and thoroughly evaluate every candidature for your consideration. We present top candidates to you through comprehensive profiles, and arrange interviews for each candidate you select. But we don’t stop there. Our contingency recruiting professionals provide experienced, consultative assistance at every step of the way. We work closely with you and with the candidate throughout the interview, negotiation and on-boarding process.</p>
    
    </section>

    <section id="section2" role="tabpanel" tabindex="0" class="tab-content hidden">
        <figure class="md:float-left md:mr-6">
<img src="/assets/images/services-imgs/istockphoto-2160568351-2048x2048_lateral-hiring.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the Lateral recruiting domain" />
</figure>
    <p>Lateral recruitment is the process of hiring an "expert" for the job that needs to be filled. In some cases, it is a specialized hiring. The expert usually is from another organization which is recognized as the leader in the same field, who would be advantageous to employ to get the extra edge.</p> <p>When considering lateral recruitment, we thoroughly investigate the job skills of the potential candidate because there is chance of information "fishing" in order to generate better word-of-mouth publicity. our recruitment team efficiently cross check the background of the potential candidate with various options available with us such as our recruitment network, industry sources etc.</p></section>


    <section id="section3" role="tabpanel" tabindex="0" class="tab-content hidden">
            <figure class="md:float-left md:mr-6">
<img src="/assets/images/services-imgs/istockphoto-1475088073-2048x2048_outsourcing.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the Recruitment Process Outsourcing domain" />
</figure>
    <p>As described by Recruitment Process Outsourcing Association, "RPO is a form of business process outsourcing where an employer transfers all or part of its recruitment processes to an external provider. Recruitment Process Outsourcing providers can manage the entire recruiting/hiring process, or can manage one or two aspects of the process, essentially serving as an extension of the company’s human resources department."
    </p></section>

    <section id="section4" role="tabpanel" tabindex="0" class="tab-content hidden">
                <figure class="md:float-left md:mr-6">
<img src="/assets/images/services-imgs/istockphoto-1411819523-2048x2048_intime-hiring.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik serves staffing services in the just in time recruitment domain" />
</figure>
    <p>Just in time recruiting is based on the Lean, pull-based strategy to provide clients right candidates that exactly match their needs, when they want them, at the volume they want.</p>
    </section>

    <section id="section5" role="tabpanel" tabindex="0" class="tab-content hidden">
                    <figure class="md:float-left md:mr-6">
<img src="/assets/images/services-imgs/istockphoto-1429635007-2048x2048_htd.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik is expertise in hire, train and deploy in the company" />
</figure>
    <p>A process that involves the complete talent nurture cycle I.e. Hire, Train for adequate skill set and deploy in accordance with the requirement of the market as well as demand of the clientele.</p>
    
    </section>

    <section id="section6" role="tabpanel" tabindex="0" class="tab-content hidden">
                        <figure class="md:float-left md:mr-6">
<img src="/assets/images/services-imgs/istockphoto-1630774197-2048x2048_training.jpg" class="w-full rounded-xl mb-4 md:max-h-[400px] md:mb-6" alt="Survik coducts training for the ITES, KPO, BPO industry" />
</figure>
    <p>Managing process outsourcing is one of our key proposition. We undertake projects that involve end-to-end solutions for Business Process Outsourcing/ Knowledge Process Outsourcing/ ITES. The internet-of-things (IoT) is one of Survik's key featuring service where we have achieved excellence.</p> <p>We have the expertise in handling bulk recruitment for large outsourcing projects as well as customised knowledge process outsourcing projects also where candidates are hired with specific technical skills.</p>
    
    </section>

  </div>
</div>
</section>
