<!--<footer class="bg-gray-200 p-4 mt-auto"><p>Reach out us at <a href="mailto:info@survik.com"> info@survik.com</a></p></footer>-->
<footer>
<div class="logo-slider bg-white" id="logoSlider">
<ul class="logo-track" id="logoTrack">
<li class="logo"><img src="/assets/images/customers/amdocs.png" alt="Amdocs"></li>
<li class="logo"><img src="/assets/images/customers/cybage2.png" alt="cybage"></li>
<li class="logo"><img src="/assets/images/customers/emarson.png" alt="Emerson"></li>
<li class="logo"><img src="/assets/images/customers/fis.png" alt="Fanancial Services Company"></li>
<li class="logo"><img src="/assets/images/customers/hexaware.png" alt="Hexaware"></li>
<li class="logo"><img src="/assets/images/customers/itcinfotech.png" alt="ITC Infotech"></li>
<li class="logo"><img src="/assets/images/customers/mediaocean.png" alt="Media Ocean"></li>
<li class="logo"><img src="/assets/images/customers/mphasis.png" alt="Mphasis"></li>
<li class="logo"><img src="/assets/images/customers/nihilent.png" alt="Nihilent"></li>
<li class="logo"><img src="/assets/images/customers/nttdata.png" alt="Nttdata"></li>
<li class="logo"><img src="/assets/images/customers/sungard.png" alt="Sungard"></li>
<li class="logo"><img src="/assets/images/customers/zensar.png" alt="Zensar"></li>
<li class="logo"><img src="/assets/images/customers/amdocs.png" alt="Amdocs"></li>
<li class="logo"><img src="/assets/images/customers/cybage2.png" alt="cybage"></li>
<li class="logo"><img src="/assets/images/customers/emarson.png" alt="Emerson"></li>
<li class="logo"><img src="/assets/images/customers/fis.png" alt="Fanancial Services Company"></li>
<li class="logo"><img src="/assets/images/customers/hexaware.png" alt="Hexaware"></li>
<li class="logo"><img src="/assets/images/customers/itcinfotech.png" alt="ITC Infotech"></li>
<li class="logo"><img src="/assets/images/customers/mediaocean.png" alt="Media Ocean"></li>
<li class="logo"><img src="/assets/images/customers/mphasis.png" alt="Mphasis"></li>
<li class="logo"><img src="/assets/images/customers/nihilent.png" alt="Nihilent"></li>
<li class="logo"><img src="/assets/images/customers/nttdata.png" alt="Nttdata"></li>
<li class="logo"><img src="/assets/images/customers/sungard.png" alt="Sungard"></li>
<li class="logo"><img src="/assets/images/customers/zensar.png" alt="Zensar"></li>
  </ul>
</div>
</footer>